@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400&display=swap');

@tailwind base;
@layer base {
  html, body {
    @apply text-gray-800
  }
  a {
    /* @apply text-blue-900 */
  }
}
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

html, body {
  /* font-family: 'Shippori Mincho B1', serif; */
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
}

.shippori {
  font-family: 'Shippori Mincho B1', serif;
}

.noto {
  font-family: 'Noto Sans JP', sans-serif;
}

.app-container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
}